//=== FONTS ===
$font-size-default: 14px;
$font-size-larger: 16px;
//=== ./FONTS ===


//=== COLORS ===
$color-primary: #6e70ff;
$color-secondary: #adaef9;
$color-primary-dark: #292bb4;
$color-success: #00cb6f;
$color-warning: #ffbc2c;
$color-danger: #ee7764;
$color-snow: #f9f9fb;
$color-grey-pale: #f0f0f5;
$color-grey-light: #e6e6eb;
$color-grey: #afb1bd;
$color-grey-dark: #82828b;
$color-black: #000000;
$color-white: #ffffff;
$color-empty: tranparent;
//=== ./COLORS ===
