html{
  font-size: $font-size-default;
  line-height: 1.2;
}

body{
  @include font-primary();
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

h1{
  font-size: 2.286rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.714rem;
}

h4{
  font-size: 1.286rem;
}

h5{
  font-size: 1.143rem;
}

h6{
  font-size: 1rem;
}

p{
  margin: 0;
}
